{% set nsCreateVariables = namespace(options = "", partionBy = "", clusterBy = "", primaryKey = "", tabEprnClause = "") %}

{%- set nsCreateVariables.partionBy = getPartitionBy() | trim -%}
{%- set nsCreateVariables.clusterBy = getClusterBy() | trim -%}
{%- set nsCreateVariables.primaryKey = getPrimaryKey() | trim -%}
{%- set nsCreateVariables.tabEprnClause = getTabExpirationClause() | trim -%}

{# Build table options #}
{% if node.description | length > 0 %}
    {% set nsCreateVariables.options = nsCreateVariables.options + "description = '" + node.description | escape + "'" %}
{% endif %}

{% if nsCreateVariables.tabEprnClause | length > 0 %}
    {% if nsCreateVariables.options | length > 0 %}
        {% set nsCreateVariables.options = nsCreateVariables.options + ", " %}
    {% endif %}
    {% set nsCreateVariables.options = nsCreateVariables.options + "expiration_timestamp=" + nsCreateVariables.tabEprnClause %}
{% endif %}

{% if config.partitionFilter %}
    {% if nsCreateVariables.options | length > 0 %}
        {% set nsCreateVariables.options = nsCreateVariables.options + ", " %}
    {% endif %}
    {% set nsCreateVariables.options = nsCreateVariables.options + "require_partition_filter=true" %}
{% endif %}

{% if config.partExpireDays | length > 0 %}
    {% if nsCreateVariables.options | length > 0 %}
        {% set nsCreateVariables.options = nsCreateVariables.options + ", " %}
    {% endif %}
    {% set nsCreateVariables.options = nsCreateVariables.options + "partition_expiration_days=" + config.partExpireDays %}
{% endif %}

{{ stage('Create Dimension ' + desiredState.node.materializationType ) }}
    CREATE OR REPLACE TABLE {{ ref_no_link(node.location.name, node.name) }}
    (
        {% for col in columns %}
            `{{ col.name }}` {{ col.dataType }}
            {% if col.isSurrogateKey %}
                DEFAULT GENERATE_UUID()
            {% endif %}
            {%- if col.defaultValue | length > 0 %} DEFAULT {{ col.defaultValue }} {%endif%}
            {% if not col.nullable %} NOT NULL {% endif%}
            {%- if col.description | length > 0 %} OPTIONS(description="{{ col.description | escape }}") {% endif %}
            {%- if not loop.last -%}, {% endif %}
        {% endfor %}

        {% if nsCreateVariables.primaryKey | length > 0 %} 
            , PRIMARY KEY ( {{ nsCreateVariables.primaryKey}} ) NOT ENFORCED
        {% endif %}
    )
    {% if nsCreateVariables.partionBy | length > 0 %}
        PARTITION BY {{ nsCreateVariables.partionBy }}
    {% endif %}
    {% if nsCreateVariables.clusterBy | length > 0 %}
        CLUSTER BY  {{ nsCreateVariables.clusterBy }} 
    {% endif %}
    {% if nsCreateVariables.options | trim != "" %}
        OPTIONS ( {{ nsCreateVariables.options }} )
    {% endif %}